/*styles.css*/
body {
  background-color: #E9E3E8;
}

.title {
  font-family: "Courier New";
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}
.subheading {
  font-size: 1.4rem;
  display: inline-block;
  text-align: right;
  margin: 0.7rem
}

.subtitle {
  font-family: "Courier New";
  text-align: center;
  font-size: 1.3rem;
  color: #262729;
  padding: 0.2rem;
  margin: 0.2rem;
}

.chart {
  background-color: #FFFFFF94;
  justify-content: center;
  text-align: center;
  display: block;
  margin: 1.5rem;
}

.county {
  
}

.tile-text {
  text-align: center;
  font-size: 0.6rem;
  fill: #FFFFFF99;
  /*
  stroke: gray;
  stroke-width: 0.45px;*/
}

.state {
  fill: none;
  stroke: white;
  stroke-width: 0.25px;
}

.tile:hover {
  stroke: #C05CAB66;
  stroke-width: 3px;
}

.cell:hover > .tile-text {
  fill: #440D38AA;
}

.tick {
  
}

#tooltip {
  background-color: #CDEEFDDD;
  border: 1px solid #CDEEF2FF;
  justify-content: center;
  text-align: center;
  margin: 0.1rem;
  padding: 0.3rem;
  position: absolute;
  font-size: 0.7rem;
}

#legend {
  background-color: #50E44A;
}

.legend-item {
  
}

.legend-text {
  font-size: 0.75rem;
  fill: #440D38AA;
}

.axis-label {
  font-size: 0.8rem;
}
